@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  padding: 32px;
  background: rgb(27, 27, 27);
  font-family: 'Work Sans', sans-serif;
  color: #fff;
}